/* <!-- 3102121720 --> */

/* DO NOT DELETE THIS FILE */

/* STYLING FOR INDEX.HTML (MAIN CHAT FILE) */

@font-face {
    font-family: "Mono Font";
    src: url("Fonts/MononokiNerdFontMono-Regular.ttf");
}

@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@300&display=swap');

body {
    margin: 0px;
    background-color: #121315;
}
nav {
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    border: 1px solid red;
}
.mono {
    font-family: "Mono Font";
}
.front-end {
    color: rgb(255, 98, 98);
}
.back-end {
    color: rgb(79, 161, 255);
}
header {
    height: 100px;
    width: 90%;
    border: 1px solid red;
}
header {
    display: flex;
}
.nav-buttons {
    border: 1px solid red;
    display: flex;
    align-items: center;
    position: relative;
    right: 0px;
}
nav > header> h1 {
    color: white;
    font-family: "Mono Font";
    margin-top: 0px;
    line-height: 100px;
    font-size: 40px;
    width: max-content;
}
p {
    color: white;
}






* {
    box-sizing: border-box;
}
